  <ul id='main_nav'>


    <!-- TOPICS  -->

        <li>TOPICS
          <ul>
        {% for topic in site.rest_topics %}
        <!-- <li><a href="{{topic.url}}">{{topic.title}}</a></li> -->
        <li><a href="{{topic.url | prepend: site.github.url}}">{{topic.title}}</a></li>

        {%endfor%}
      </ul>
      </li>


  <!-- RESOURCES  -->

  {% assign rest_groups = site.rest_resources | group_by: "application" | sort: "name" %}

  {% for group in rest_groups %}
    {% unless group.name == '' %}
      <li>{{group.name | upcase}} RESOURCES
        <ul>
      {% for resource in group.items %}
      <li>{{resource.title}}
        <ul style='display:;'>
          {% assign slug = {{resource.title | slugify}} %}
          {% assign endpoints = site.rest_endpoints | where: "resource", slug  %}

          {% for endpoint in endpoints %}
              <li><a href="{{endpoint.url  | prepend: site.github.url}}">{{endpoint.title}}</a></li>
              <!-- <li><a href="{{endpoint.url}}">{{endpoint.title}}</a></li> -->
          {%endfor%}
        </ul></li>

      {%endfor%}
    </ul>
    </li>
    {% endunless %}
  {%endfor%}
  </ul>
